<h> New job </h>

<%= form_with model: @job do |job| %>
	<div class="field">
		<%= job.label :job_title %><br>
		<%= job.text_field :job_title %> 
	</div>

	<div class="field">
		<%= job.label :required_skills %><br>
		<%= job.text_field :required_skills , class: 'skill_input' %>
	</div>

	<div class="field">
		<%= job.submit "create" %>
	</div>

<% end %> 