<h1>Update Job Application</h1>

<div>
  <strong>Status:</strong> <%= @application.status %>
</div>

<% if   @application.status == 'applied' %>
  <%= form_with model: @application, url: job_application_path(@application), method: :patch do |application| %>
    <div class="field">
      <%= application.label :status %><br>
      <%= application.select :status, [:approved, :rejected] %>
    </div>

    <div class="field">
      <%= application.submit "Update Status" %>
    </div>
  <% end %>
<% else %>
  <div>
    <strong>Cannot update status:</strong> The application status is no longer applied.
  </div>
<% end %>

<%= link_to "Back to Job Application", request.referer, class: 'btn btn-primary' %>
