<div style="text-align: center;">
  <h1 style="font-size: 24px; margin-bottom: 20px;">Job Applications</h1>

<table style="width: 100%; border-collapse: collapse;">
  <thead>
    <tr>
      <th style="border: 1px solid #000; padding: 8px;"> name </th>
      <th style="border: 1px solid #000; padding: 8px;"> job title</th>
      <th style="border: 1px solid #000; padding: 8px;"> resume</th>
      <th style="border: 1px solid #000; padding: 8px;"> status</th>
      <% if current_user.type == "JobSeeker" %>
        <th style="border: 1px solid #000; padding: 8px;"> Withdraw Application</th>
      <% end %>
    </tr>
  </thead>
</div>

  <tbody>
    <% @applications.each do |job_application| %>
      <tr>
        <td style="border: 1px solid #000; padding: 8px;"><%= job_application.job_seeker.name %></td>
        <td style="border: 1px solid #000; padding: 8px;"><%= job_application.job.job_title %></td>
        <td style="border: 1px solid #000; padding: 8px;"><%=image_tag(job_application.resume , width: "20%") %></td>
        <td style="border: 1px solid #000; padding: 8px;"><%= job_application.status %></td>
      <% if current_user.type == "JobSeeker" %>
        <td style="border: 1px solid #000; padding: 8px;"><li"><%= link_to "Withdarw", job_application_path(job_application.id), data: { turbo_method: :delete, turbo_confirm: "Are you sure?" } %></li></td>
      <% elsif current_user.type == " JobRecruiter" && current_user.company.id == job_application.job.company_id %>
        <td style="border: 1px solid #000; padding: 8px;"><li"><%= link_to "Accept/Reject",edit_job_application_path(job_application.id)%></li></td>
      <% end %>
      </tr>
    <% end %>
  </tbody>
</table>
