<h1>Apply Job </h1>
<%= form_with model: @job_application, html: { class: 'job-application-form' } do |job_application| %>
  <!-- Hidden field for job_id -->
  <%= job_application.hidden_field :job_id, value: @job.id %>
  
  <!-- Hidden field for status -->
  <%= job_application.hidden_field :status, value: "applied" %>

  <div class="field">
    <%= job_application.label :resume, class: 'form-label' %><br>
    <%= job_application.file_field :resume, class: 'form-file-input' %> 
  </div>


  <div class="field">
    <%= job_application.submit "Create", class: 'btn btn-primary submit-button' %>
  </div>
<% end %>
