<h> New skill </h>

<%= form_with model: @skill do |skill| %>
	<div class="field">
		<%= skill.label :skill_name%><br>
		<%= skill.text_field :skill_name %> 
		<% @skill.errors.full_messages_for(:skill_name).each do |message| %>
      <div><%= message %></div>
    <% end %>
	</div>

	<div class="field">
		<%= skill.submit "create" %>
	</div>
<% end %> 

<%= link_to "back", root_path %> <br />