<h1>Welcome To LinkedIn Job Portal </h1>

<table>
  <thead>
    <tr>
      <th> Company </th>
    <!--   <th> Address </th>
      <th> Contact </th>
      <th> Job </th> -->
    </tr>
  </thead>

  <tbody>
    <% @companies.each do |company| %>
      <tr>
        <td><%= link_to company.company_name , company %></td>
        <!-- <td><%= company.address %></td> -->
        <!-- <td><%= company.contact %></td> -->
      </tr>
    <% end %>
  </tbody>
</table>
<%- if current_user.type == "JobRecruiter" %>
  <%- if current_user.company.present? %>
    <%= link_to "edit company", edit_company_path(company_id: @companies.id) %> <br />
    <%= link_to "create job", new_job_path %> <br />
  <% else %>
    <%= link_to "create new company" , new_company_path %>
  <% end %>
<%- else %>
  <%= link_to "create skill", new_skill_path %> <br />
  <%= link_to "see skills", skills_path %> <br />
  <%= link_to "add your skills", add_skill_skills_path %> <br />
<% end %>