<h1 style="font-size: 24px; margin-bottom: 20px;">New Company</h1>

<%= form_with model: @company, html: { style: 'margin-top: 20px;' } do |company| %>
  <div class="form-check">
    <%= company.label :company_name, class: 'font-weight: bold;' %><br>
    <%= company.text_field :company_name%> 
  </div>

  <div class="form-check">
    <%= company.label :address, style: 'font-weight: bold;' %><br>
    <%= company.text_field :address %>
  </div>

  <div class="form-check">
    <%= company.label :contact, style: 'font-weight: bold;' %><br>
    <%= company.text_field :contact %>
  </div>

  <div class="btn-outline-success">
    <%= company.submit "Create" , class: 'btn btn-primary submit-button' %>
  </div>
<% end %>
