
<h1>Company Name: <%=@company.company_name %></h1>
 
<p> Address: <%=@company.address %></p>
<p> Contact: <%=@company.contact %></p><br/>
<%= link_to "jobs", current_company_jobs_jobs_path(:company_id => @company.id)%>

<%- if current_user.type == "JobRecruiter" %>
  <% if current_user.company.present? %>
		<li  style ="background_color: #ffffff; display: inline-block; margin-left: 70px; padding-top: 35px;"><%= link_to "create job", new_job_path %></li>
	<%end %>
<% end %>
