<nav class="navbar navbar-expand-sm " style="background-color: lightgrey">
	<a class="navbar-brand" href="">Home</a>
	<div class="dropdown">
    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
     Menu
    </button>
    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
	  <li class="dropdown-item"><%= link_to "Jobs", current_company_jobs_jobs_path(:company_id => @company.id) %>
	<% if current_user.type == "JobRecruiter" %>
	  <% if current_user.company.present? %>
	    <li class="dropdown-item"><%= link_to "Create Skill", new_skill_path%></li>   
	    <!-- <li class="dropdown-item"><%= link_to "Create Job", new_job_path%></li>    -->
	    <li class="dropdown-item"><%= link_to "See Skills", skills_path %></li>
	    <li class="dropdown-item"><%= link_to "Top Jobs", top_jobs_jobs_path%></li>
	  <% end %>
	<% end %>
</nav>
<h1 style="font-size: 24px; margin-bottom: 20px;">Company Name: <%= @company.company_name %></h1>
 
<p style="font-weight: bold;">Address: <%= @company.address %></p>
<p style="font-weight: bold;">Contact: <%= @company.contact %></p>
<p style="font-weight: bold;">Recruiter Name: <%= @company.job_recruiter.name %></p>
<br/>
<h2> Create Job </h2>
<%= render "jobs/new" %>